.rel-articles-section h4 {
  margin-bottom: 10px;
  color: #195534;
  font-weight: 700;
  font-size: 20px;
}
.rel-article-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.rel-art-card {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  border: 1.3px solid #e0e6ef;
  box-shadow: 0 1px 7px 0 #e9e9ee;
  padding: 9px 18px 9px 9px;
  transition: box-shadow 0.15s, border-color 0.17s;
  text-decoration: none;
  color: #23223B;
  min-height: 55px;
  max-width: 100%;
  cursor: pointer;
}
.rel-art-card:hover {
  box-shadow: 0 2.5px 10px 0 #c2d3f0;
  border-color: #2563eb;
}
.rel-art-thumb {
  width: 65px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  overflow: hidden;
}
.rel-art-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  background: #eaeaea;
  display: block;
}
.rel-art-title {
  font-weight: 700;
  font-size: 16px;
  color: #22223B;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.36;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
}
