



/* Responsive: Always padding on mobile */
@media (max-width: 900px) {
  .App,
  .container {
    max-width: 100vw;
    padding-left: 4vw;
    padding-right: 4vw;
  }
}
@media (max-width: 600px) {
  .App,
  .container {
    padding-left: 3vw;
    padding-right: 3vw;
  }
}
